.title {
    font-size: 50px;
    vertical-align: middle;
    margin-left: 22.5%;
    margin-top: 15%;
    margin-bottom: 5%;
    
}

.logo {
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 20%;
    margin-bottom: 5%;
}

ion-content {
    --background: #fff url('../../../assets/forest1.jpg') no-repeat center center / cover;
}

ion-input {
    --background: rgba(255, 255, 255, 0.712);
}