<ion-header>
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Secciones</ion-label>
  </ion-item>
  <ion-item lines="none" style="margin-top: 3%;">
    <ion-button expand="block" color="primary" class="sect-button" (click)="toSection(0)">Colonia</ion-button>
    <ion-button expand="block" color="warning" class="sect-button" (click)="toSection(1)">Manada</ion-button>
    <ion-button expand="block" color="success" class="sect-button" (click)="toSection(2)">Tropa</ion-button>
  </ion-item> 
  <ion-item lines="none" style="margin-top: 3%;">
    <ion-button expand="block" color="medium" class="sect-button" (click)="toSection(3)">Unidad</ion-button>
    <ion-button expand="block" color="danger" class="sect-button" (click)="toSection(4)">Clan</ion-button>
    <ion-button expand="block" color="secondary" class="sect-button" (click)="toSection(5)">Kraal</ion-button>
  </ion-item>  

  <ion-item>
    <ion-label>
      Servicios
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item lines="none">
      <ion-icon slot="start" name="cube"></ion-icon>
      <ion-label>Intendencia</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="bonfire"></ion-icon>
      <ion-label>Gestionar actividades</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="musical-notes"></ion-icon>
      <ion-label>Cancionero</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon slot="start" name="volume-high"></ion-icon>
      <ion-label>Altavoz</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
