<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label style="font-size: 20px;">Ultimas noticias</ion-label>
  </ion-item>
  <ion-card *ngFor="let post of posts" (click)="goToPost(post.id)">
    <ion-item color="primary">
      <ion-item color="primary" style="color: white;" slot="start">{{ post.title }}</ion-item> 
      <ion-item color="primary" slot="end" style="color: white;" *ngIf="post.event == 0">Excursion</ion-item> 
      <ion-item color="primary" slot="end" style="color: white;" *ngIf="post.event == 1">Acampada</ion-item> 
      <ion-item color="primary" slot="end" style="color: white;" *ngIf="post.event == 2">Campamento</ion-item> 
    </ion-item>    
    <ion-card-content>
      <img class="thumbnail" src="../../assets/forest1.jpg">
      <ion-item *ngIf="post.content.length > 100">{{ post.content.substring(0, 100) }}...</ion-item>
      <ion-item *ngIf="post.content.length < 100">{{ post.content }}</ion-item>
      <ion-item lines="none">
        <ion-item slot="start" lines="none">{{ post.author }}</ion-item>
        <ion-item slot="end" lines="none">{{ post.date }}</ion-item>
      </ion-item>
    </ion-card-content>
  </ion-card> 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
