<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="showAlert()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-item>
    <ion-label style="font-size: 20px;">Ultimas noticias</ion-label>
  </ion-item>
  <ion-card *ngFor="let post of posts" (click)="goToPost(post.id)">
    <ion-item *ngIf="post.section == 0" color="secondary">
      <ion-item color="secondary" style="color: white;" slot="start">{{ post.title }}</ion-item>    
    </ion-item>    
    <ion-item *ngIf="post.section == 1" color="primary">
        <ion-item color="primary" style="color: white;" slot="start">{{ post.title }}</ion-item> 
      </ion-item>
      <ion-item *ngIf="post.section == 2" color="warning">
        <ion-item color="warning" style="color: white;" slot="start">{{ post.title }}</ion-item> 
      </ion-item>
      <ion-item *ngIf="post.section == 3" color="success">
        <ion-item color="success" style="color: white;" slot="start">{{ post.title }}</ion-item>         
      </ion-item>            
      <ion-item *ngIf="post.section == 4" color="unidad">
        <ion-item color="unidad" style="color: white;" slot="start">{{ post.title }}</ion-item> 
      </ion-item>
      <ion-item *ngIf="post.section == 5" color="danger">
        <ion-item color="danger" style="color: white;" slot="start">{{ post.title }}</ion-item> 
      </ion-item>     
      <ion-item lines="none">
        <ion-chip *ngIf="post.event == 0"><ion-icon name="analytics" color="light"></ion-icon><ion-label color="light">Excursion</ion-label></ion-chip>   
        <ion-chip *ngIf="post.event == 1"><ion-icon name="leaf" color="light"></ion-icon><ion-label color="light">Acampada</ion-label></ion-chip>
        <ion-chip *ngIf="post.event == 2"><ion-icon name="bonfire" color="light"></ion-icon><ion-label color="light">Campamento</ion-label></ion-chip>
      </ion-item> 
    <ion-card-content>
      <img class="thumbnail" src="../../assets/forest1.jpg">
      <ion-item *ngIf="post.content.length > 100">{{ post.content.substring(0, 100) }}...</ion-item>
      <ion-item *ngIf="post.content.length < 100">{{ post.content }}</ion-item>
      <ion-item lines="none">
        <ion-item slot="start" lines="none">{{ post.author }}</ion-item>
        <ion-item slot="end" lines="none">{{ post.date }}</ion-item>
      </ion-item>
    </ion-card-content>
  </ion-card> 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="user.role >= 0 && user.role <=5" (click)="addPost()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
