<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let post of posts" (click)="goToPost(post.id)">
    <ion-item>{{ post.title }}</ion-item> 
    <ion-card-content>
      <img class="thumbnail" src="../../assets/avatar.png">
      <ion-item *ngIf="post.content.length > 100">{{ post.content.substring(0, 100) }}...</ion-item>
      <ion-item *ngIf="post.content.length < 100">{{ post.content }}</ion-item>
      <ion-item lines="none">
        <ion-item slot="start" lines="none">{{ post.author }}</ion-item>
        <ion-item slot="end" lines="none">{{ post.date }}</ion-item>
      </ion-item>
    </ion-card-content>
  </ion-card> 
</ion-content>
