<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="showAlert()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item lines="none" class="user-head">
    <ion-label style="font-size: 20px;">{{ name }}</ion-label>
    <ion-label style="font-size: 12px; color: grey; position: absolute; margin-top: 5%;">{{ role }}</ion-label>
    <img class="circle-pic" src="../../assets/yo.jpg" />
  </ion-item>
  <ion-button fill style="width:100%; border: solid 1px #ECEBEB">Cambiar foto</ion-button>

  <ion-item *ngIf="role >= 1 && role <= 11" lines="none" class="title">
    <ion-label *ngIf="(role >= 1 && role <= 5) || role == 11" text-center>Educandos</ion-label>
    <ion-label *ngIf="role >= 6 && role <= 10" text-center>Hijos</ion-label>    
  </ion-item>
  <ion-item *ngIf="role >= 1 && role <= 11">
    <div class="thumbnails">
      <div class="list-thumbnail">
        <div class="img-thumb" (click)="toDetail(1)">
            <img class="barber-pic" src="../../assets/avatar.png" />
        </div>
        <div class="img-thumb" (click)="toDetail(2)">
            <img class="barber-pic" src="../../assets/avatar.png" />
        </div>
        <div class="img-thumb" (click)="toDetail(3)">
            <img class="barber-pic" src="../../assets/avatar.png" />
        </div>
      </div>
    </div>
  </ion-item>

  <ion-item lines="none" class="title">
      <ion-label text-center>Ultimas actividades</ion-label>    
    </ion-item>  
    <ion-list>
      <ion-card *ngFor="let ev of events">
          <ion-card-header>
              <ion-item lines="none">
                  <img class="circle-pic" src="../../assets/forest1.jpg" />
                  <ion-card-title style="margin-left: 3%;">{{ ev.name }}</ion-card-title>
              </ion-item>              
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-item lines="none" slot="start">{{ ev.beg_date }}</ion-item>
              <ion-item lines="none" slot="end">{{ ev.end_date }}</ion-item>
            </ion-item>            
          </ion-card-content>
      </ion-card>
    </ion-list>
</ion-content>
