.post-img {
    height: 300px !important;
    width: 100%;
    object-fit: cover;
}

.title {
    font-size: 20px;
}

.comments {
    text-align:center;
    font-size: 20px;
    padding: 2%;
}

.tipo {
    color: white;
    background-color: green;
    line-height: 10px;
}

.dates {
    font-size: 12px;
    text-align: center;
    color: white;
}