.title {
    position: absolute;
    color: white;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 25px;
}

.elbutton {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    width: 100%;
    text-align: center;
}

.sec-img {
    height: 250px !important;
    width: 100% !important;
    object-fit: cover;
}