<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="section_id == 0">Colonia</ion-title>
    <ion-title *ngIf="section_id == 1">Manada</ion-title>
    <ion-title *ngIf="section_id == 2">Tropa</ion-title>
    <ion-title *ngIf="section_id == 3">Unidad</ion-title>
    <ion-title *ngIf="section_id == 4">Clan</ion-title>
    <ion-title *ngIf="section_id == 5">Kraal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label class="title">Blog de la Seccion</ion-label>
    <ion-item class="elbutton" lines="none" color="transparent">
      <ion-label color="light" style="font-size: 17px;">Ir</ion-label>
    </ion-item>
    <img *ngIf="section_id == 0" src="../../assets/castores.jpg" class="sec-img">
    <img *ngIf="section_id == 1" src="../../assets/lobatos.png" class="sec-img">
    <img *ngIf="section_id == 2" src="../../assets/troperos.jpg" class="sec-img">
    <img *ngIf="section_id == 3" src="../../assets/escultas.jpg" class="sec-img">
    <img *ngIf="section_id == 4" src="../../assets/rovers.jpg" class="sec-img">
    <img *ngIf="section_id == 5" src="../../assets/kraal.jpg" class="sec-img">
  </ion-item>

  <ion-item><ion-label>Informacion</ion-label></ion-item>
  <ion-item lines="none"><ion-icon name="logo-whatsapp" slot="start"></ion-icon><ion-label>Whatsapp</ion-label></ion-item>
  <ion-item lines="none"><ion-icon name="contacts" slot="start"></ion-icon><ion-label>Scouters</ion-label></ion-item>
  <ion-item lines="none"><ion-icon name="hand" slot="start"></ion-icon>
    <ion-label *ngIf="section_id == 0">Castores</ion-label>
    <ion-label *ngIf="section_id == 1">Lobatos</ion-label>
    <ion-label *ngIf="section_id == 2">Troperos</ion-label>
    <ion-label *ngIf="section_id == 3">Ecultas</ion-label>
    <ion-label *ngIf="section_id == 4">Rovers</ion-label>
    <ion-label *ngIf="section_id == 5">Equipo</ion-label>
  </ion-item>
</ion-content> 
